<h2> Edit <%= @book.name %> </h2>


<form method = "POST" action = "/books/<%=@book.id%>">
  <input type = 'hidden' name = "_method" value = "PATCH">
  <label>Name:</label>
  <input type = 'text' name = 'name' id = 'name' value = "<%=@book.name%>"><br><br>
  <label>Author: </label>
  <input type = 'text' name = 'author' id = 'author' value = "<%=@book.author%>"><br><br>
  <label>Notes: </label>
  <textarea name = 'notes' id = 'notes' value = "notes"></textarea>
  <br>
  <label>Genres: </label>
  <%@genres.each do |genre|%>
    <input type = "checkbox" id = "<%= genre.name%>" name = "genre_ids[]" value = "<%= genre.id%>"<%='checked' if @book.genres.include?(genre) %>><%=genre.name%></input>
  <%end%>
  <br>
  <label> Or create a new Genre: </label>
  <input type = 'text' name = "genres[name]" id = "genres_name">
  <input type = 'submit' value = "Edit Book">
</form>
