<h2> Title:  <%= @book.name %></h2> <br>
<h2> Author: <%= @book.author%></h2> <br>


<p> Notes: <%= @book.notes%></p><br>

<h4>Genres:</h4>
<ul>
  <%@book.genres.each do |genre|%>
    <li><a href = "/genres/<%=genre.id%>"><%=genre.name%></a></li>
  <%end%>
</ul>

<form action = "/books/<%=@book.id%>/edit" method = "GET">
  <input type = "hidden" name = "_method" value = "PATCH">
  <input type = "submit" value = "Edit Book">
</form> <br>

<form action = "/books/<%=@book.id%>/delete" method = "GET">
  <input type = "hidden" name = "_method" value = "DELETE">
  <input type = "submit" value = "Delete Book">
</form>

<h4> <a href = "/books">See More Books To Read</h4>
